import "tfconfig"
import "strings"

# Require all modules directly under root module
# to come from TFE private module registry (PMR)
require_modules_from_pmr = rule { 
  all tfconfig.modules as _, m {
    print("source: ", m.source) and
    strings.has_prefix(m.source, "app.terraform.io/${organization}")
  }
}
  
# Main rule that requires other rules to be true
main = rule {
  (require_modules_from_pmr) else true
}
